@model IEnumerable<Test.Models.Admin>

@{
    ViewData["Title"] = "Admins";
}


<link rel="stylesheet" href="~/css/ViewAdminsStyle.css"/>

 <a asp-action="Register" asp-controller="admin" style="margin:15px"> 
     <img src="~/Attach/icons8-add-user-male-96.png" width="50" height="50" title="Add New Admin" style="margin:10px"/>
 </a>

<main style="margin:10px ; border-radius: 10px;">
    <div class="admins-grid">
        @foreach(var i in Model){
        <div class="admin">
            <img src="~/Attach/icons8-admin-settings-male-96.png"   alt="Profile Picture">
            <div class="admin-info">
                <h3>@i.Name</h3>
                <p>Administrator</p>
                <ul>
                    <li><strong>Email:</strong> @i.Email</li>
                    <li><strong>Phone:</strong> @i.Phone</li>
                    <li><strong>Admin Degree:</strong> @i.AdminDegree</li>
                </ul>
            </div>
            <div style="display:flex; justify-content:space-between">
                <a asp-action="Profile" asp-controller="admin" asp-route-id="@i.Id" class="btn btn-info"  style=" margin-right:15px">  Admin Profile </a>
                <a asp-action="delete" asp-controller="admin" asp-route-id="@i.Id" class="btn btn-danger disabled"> Delete Admin </a>
            </div>
        </div>
        }
    </div>
</main>
