@model IEnumerable<Test.Models.User>

@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/ViewAdminsStyle.css"/>



<main style="margin:10px; border-radius: 10px;">
    <div class="admins-grid">
        @foreach (var i in Model)
        {
            <div class="admin">
                <img src="~/Attach/icons8-users-96.png" alt="Profile Picture">
                <div class="admin-info">
                    <h3>@i.Name</h3>
                    <p>User</p>
                    <ul>
                        <li><strong>Gender:</strong> @i.Gender</li>
                        <li><strong>Email:</strong> @i.Email</li>
                        <li><strong>Phone:</strong> @i.Phone</li>
                        <li><strong>Address:</strong> @i.Address</li>
                    </ul>
                </div>
                <div style="display:flex; justify-content:space-between">
                    <a asp-action="Profile" asp-controller="user" asp-route-id="@i.Id" class="btn btn-info " style="margin-right:15px">  User Profile </a>
                    <a asp-action="delete" asp-controller="user" asp-route-id="@i.Id" class="btn btn-danger"> Delete User </a>
                 </div>
             </div>
        }
    </div>
</main>
