@model IEnumerable<Test.Models.Station>

@{
    ViewData["Title"] = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/ViewAdminsStyle.css"/>

 <a asp-action="Create" asp-controller="station" style="margin:15px"> 
     <img src="~/Attach/icons8-add-96.png" width="50" height="50"/>
     New Station
 </a>

@if(Model is null)
{
    <h1 class="text-center mt-5"> No Station Avalible </h1>
}
else{

<main style="margin:10px;">
    <div class="admins-grid">
        @foreach (var i in Model)
        {
            <div class="admin">
                <img src="~/Attach/icons8-train-station-96.png" alt="Profile Picture">
                <div class="admin-info">
                    <h3>Station Name : @i.Name</h3>
                    <ul>
                        <li><strong>Next Station :</strong> @i.NextStation</li>
                        <li style="height:fit-content; overflow:hidden;"><strong>Description :</strong> @i.Description</li>
                        <li> <strong>Longitude : </strong> @i.Longitude </li>
                        <li> <strong>Latitude : </strong> @i.Latitude </li>
                        <li> <strong> Postion :  </strong>@i.Position </li>
                    </ul>
                </div>
                <div style="display:flex; justify-content:space-between">
                    <a asp-action="Edit" asp-controller="station" asp-route-id="@i.Id" class="btn btn-info " style="margin-right:15px"> Edit </a>
                    <a asp-action="delete" asp-controller="station" asp-route-id="@i.Id" class="btn btn-danger"> Delete </a>
                </div>
            </div>
        }
    </div>
</main>
}