@model IEnumerable<Test.Models.TrainInStationTime>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { TrainId =item.TrainId ,StationId = item.StationId , id= ViewBag.id})
            </td>
        </tr>
}
    </tbody>
</table>
