@model IEnumerable<Test.Models.News>

@{
    ViewData["Title"] = "News";
}


<link rel="stylesheet" href="~/css/ViewAdminsStyle.css"/>

<a asp-action="create" asp-controller="news" style="margin:15px"> 
     <img src="~/Attach/icons8-add-96.png" width="50" height="50" title="Add News" style="margin:10px"/>
 </a>

<main style="margin:10px ; border-radius: 10px;">
    <div class="admins-grid">
        @foreach(var i in Model){
        <div class="admin">
            <img src="@i.img"  alt="Profile Picture">
            <div class="admin-info">
                <ul>
                    <li><strong>Date :</strong> @i.date</li>
                    <li><strong>Content :</strong> @i.ContentOfPost</li>
                </ul>
            </div>
            <div style="display:flex; justify-content:space-between">
                <a asp-action="Edit" asp-controller="news" asp-route-id="@i.Id" class="btn btn-info " style="margin-right:15px">  Edit </a>
                <a asp-action="delete" asp-controller="news" asp-route-id="@i.Id" class="btn btn-danger"> Delete </a>
            </div>
        </div>
        }
    </div>
</main>
